function Bar32.reset 0
call ScreenRenderer.printBarFrame32 0
pop temp 0
push constant 0
pop static 0
call Player32.getBombRadius 0
pop static 1
push constant 0
pop static 2
call Bar32.renderBar 0
pop temp 0
push constant 0
return
function Bar32.addScore 0
push static 0
push argument 0
add
pop static 0
call Bar32.renderBar 0
pop temp 0
push constant 0
return
function Bar32.setBombRadius 0
push argument 0
pop static 1
call Bar32.renderBar 0
pop temp 0
push constant 0
return
function Bar32.setLevel 0
push argument 0
pop static 2
call Bar32.renderBar 0
pop temp 0
push constant 0
return
function Bar32.getLevel 0
push static 2
return
function Bar32.getScore 0
push static 0
return
function Bar32.renderBar 0
push static 2
call ScreenRenderer.printLevel 1
pop temp 0
push static 0
call ScreenRenderer.printScore 1
pop temp 0
push constant 0
return
