function Level.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
call Array2D.new 2
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push argument 4
pop this 3
push pointer 0
push argument 0
push argument 1
call Level.init 3
pop temp 0
call Bar32.getScore 0
pop this 4
call Enemy32.new 0
pop this 5
call Enemy32.new 0
pop this 6
call Enemy32.new 0
pop this 7
call Enemy32.new 0
pop this 8
call Enemy32.new 0
pop this 9
call Enemy32.new 0
pop this 10
push pointer 0
return
function Level.init 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
eq
not
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push argument 2
eq
not
not
if-goto WHILE_END1
push this 0
push local 0
push local 1
push constant 0
call Array2D.set 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Level.dispose 0
push argument 0
pop pointer 0
push this 0
call Array2D.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push this 5
call Enemy32.dispose 1
pop temp 0
push this 6
call Enemy32.dispose 1
pop temp 0
push this 7
call Enemy32.dispose 1
pop temp 0
push this 8
call Enemy32.dispose 1
pop temp 0
push this 9
call Enemy32.dispose 1
pop temp 0
push this 10
call Enemy32.dispose 1
pop temp 0
push constant 0
return
function Level.setTile 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
push argument 3
call Array2D.set 4
pop temp 0
push constant 0
return
function Level.getMap 0
push argument 0
pop pointer 0
push this 0
return
function Level.getPlayerX 0
push argument 0
pop pointer 0
push this 1
return
function Level.getPlayerY 0
push argument 0
pop pointer 0
push this 2
return
function Level.getDifficulty 0
push argument 0
pop pointer 0
push this 3
return
function Level.getScore 0
push argument 0
pop pointer 0
push this 4
return
function Level.spwanEnemy1 0
push argument 0
pop pointer 0
push this 5
push argument 1
push argument 2
call Enemy32.spawn 3
pop temp 0
push constant 0
return
function Level.spwanEnemy2 0
push argument 0
pop pointer 0
push this 6
push argument 1
push argument 2
call Enemy32.spawn 3
pop temp 0
push constant 0
return
function Level.spwanEnemy3 0
push argument 0
pop pointer 0
push this 7
push argument 1
push argument 2
call Enemy32.spawn 3
pop temp 0
push constant 0
return
function Level.spwanEnemy4 0
push argument 0
pop pointer 0
push this 8
push argument 1
push argument 2
call Enemy32.spawn 3
pop temp 0
push constant 0
return
function Level.spwanEnemy5 0
push argument 0
pop pointer 0
push this 9
push argument 1
push argument 2
call Enemy32.spawn 3
pop temp 0
push constant 0
return
function Level.spwanEnemy6 0
push argument 0
pop pointer 0
push this 10
push argument 1
push argument 2
call Enemy32.spawn 3
pop temp 0
push constant 0
return
function Level.onTick 0
push argument 0
pop pointer 0
push this 5
call Enemy32.onTick 1
pop temp 0
push this 6
call Enemy32.onTick 1
pop temp 0
push this 7
call Enemy32.onTick 1
pop temp 0
push this 8
call Enemy32.onTick 1
pop temp 0
push this 9
call Enemy32.onTick 1
pop temp 0
push this 10
call Enemy32.onTick 1
pop temp 0
push constant 0
return
function Level.onRender 0
push argument 0
pop pointer 0
push this 5
call Enemy32.onRender 1
pop temp 0
push this 6
call Enemy32.onRender 1
pop temp 0
push this 7
call Enemy32.onRender 1
pop temp 0
push this 8
call Enemy32.onRender 1
pop temp 0
push this 9
call Enemy32.onRender 1
pop temp 0
push this 10
call Enemy32.onRender 1
pop temp 0
push constant 0
return
